<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Calories </title>
  </head>
  <body>
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice]%>
      </div>
    <% end %>

     <%= yield %>
  </body>
</html>
