<div>
  <span>
    <<< <%= link_to 'Back', listings_path %>
  </span>
      <h1>New Listing</h1>
      <!-- check for errors -->
      <% if @listing.errors.any? %>
        <% @listing.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
        <% end %>
      <% end %>
      <%= render "shared/form", listing: @listing %>
    </div>
