.envelope {
	border: 3px solid black;
	border-radius: 10px;
	position: relative;
	padding: 15px;
}

.return-address {
	border: 1px solid red;
	display: inline-block;
	padding: 5px;
/* 	width: max-content;
	
	position: relative;
	top: 10px;
	left:	20px; */
}

.send-address {
	border: 2px solid blue;
	text-align: center;
	padding: 5px 0;
	margin: 10px;
}

.stamp {
	border: 5px dashed green;
	display: inline-block;
	padding: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 5px 5px 0 0;

}
